<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>О кинотеатре</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">
	<link href="fonts/stylesheet.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" type="text/css" href="css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../js/html5shiv.js"></script>
      <script src="../../js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
        <div class="container header_flex">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
              <div class="logo">
                <a href="start.html"><img src="img/logo.png"></a>

              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">

              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 search-form ">
                  <input type="search" placeholder="Введите запрос для поиска">
                  <a href=""><img src="img/search.png" class="icon-header"></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  butt">
                  <a href="">
                    <div class="button">Купить билет
                    </div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 menu ">
                  <a class="menu_item" href="prokat.html">Сейчас в прокате</a>
                  <a class="menu_item" href="premier.html">Премьеры</a>
                  <a class="menu_item" href="akcii.html">Акции</a>
                  <a class="menu_item" href="about.html">О кинотеатре</a>
                  <a class="menu_item" href="otzivy.html">Отзывы</a>
                  <a class="menu_item" href="kontakty.html">Контакты</a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
              <div class="phone_numbers">
                <a href="tel:+375 (99) 999 99 99">Тел. кассы:<br>+375 (99) 999 99 99</a>
                <a href="tel:+375 (99) 999 99 99">Тел. администрации:<br>+375 (99) 999 99 99</a>
              </div>
            </div>
          </div>
        </div>
      </header>
<section>
  <div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 cent">
          <div class="title">
            О кинотеатре
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cent">
        </div>
    </div>
    <div class="row marg2">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
          <div class="text_category">
            <p>Lorem ipsum dolor sit amet, possit electram mnesarchum duo at, vim postea molestiae theophrastus ut? Saperet voluptatum instructior in mea. Dolore eligendi pertinacia no his, eu has illud iracundia. Sea id iudico tation, homero volutpat in mea. Cu posse eligendi oporteat eos.</p>
            <p>Primis incorrupte cum te, ius ne verear omittantur? Vix an decore menandri repudiare, est cu temporibus neglegentur. Accusam dissentias vim at, ullum consulatu in vel. Eum ei quodsi gubergren, cum clita ignota percipit cu, sit eu purto impedit principes. No nec suas quodsi, ut soleat nusquam expetendis his.</p>
            <p>Cum ea tollit putant expetenda, his pericula appellantur no? Est ex rationibus definitiones. Quo ad dolor regione, his ei mutat prompta intellegam! Etiam aperiam omittam vim cu, esse meliore vix ex, tation partem maiorum nec no? Eum te alia ullum? Dolor feugait deterruisset pri ne! Mucius mnesarchum et eum.</p>
            <p>Duo eu brute assentior! Est id affert essent tritani, sea suas error at, eum constituto reprimique at! Sea ut mollis persius gloriatur. Te debitis tractatos consequat sit, nibh cibo platonem sea te, mei in nibh assueverit! No sumo dicat persequeris sed. Alii facilis vix ne, id errem corpora ius!</p>
            <p>Ex sed malorum debitis torquatos, an est modo iudicabit, odio oblique intellegat ex nam. Habeo melius regione te eos, ut consequat intellegat vim? Ignota oportere ei quo, at eius illum legimus vel, ei utamur oporteat duo! Ad mel quis signiferumque, ea usu viderer admodum accusam! At eos facete putant timeam, dicam phaedrum qui an!</p>
            <ul>
            <li>Vim quem postulant id.</li>
            <li>Sit an tollit impetus temporibus.</li>
            <li>Duo odio inermis salutandi eu.</li>
            <li>Cu vel atomorum theophrastus.</li>
            <li>Ne homero utamur appetere vis.</li>
            <li>Eu mel augue mandamus</li>
            </ul>
            <p>Ludus labore feugait eam an, libris corrumpit signiferumque has ex. Eirmod patrioque efficiantur ex est, per nisl erroribus ex! Quot labore nec id, lorem scripta suavitate ad nam! At mel lorem corpora erroribus, eos movet congue consequuntur eu. Dicta harum docendi ei est. Lorem commodo te his.</p>
            <p>Sea perfecto gloriatur te, pro eu scripserit repudiandae? Et dicit doctus delectus vix, his no vocent verear utamur, eu ubique tibique mediocrem sed. Audire vocibus periculis id nec, utamur albucius cu nec, dicant nostro audiam sed id. Eu labores nostrum sed. Assum minim euripidis ad qui, forensibus definitionem nec ex. No nam affert semper? Ludus tamquam cu mea, eu ridens molestiae sed?</p>
            <p>Offendit definiebas intellegam quo cu, ut cum noster maiestatis. An esse omnes virtute eos, nec docendi delicata id. Sit quando sapientem constituto ad, usu petentium persequeris eu, no libris persius duo. Mutat utinam ne vix.</p>
            <p>Has dicunt temporibus ne, in prima partem postulant his. Atqui novum definiebas nam ne. Ne per quaeque pertinax vulputate, mazim molestie usu at, ut his tantas laudem eirmod? Et laoreet epicurei mel. Vel elitr tantas accusata id.</p>
            <p>Ludus labore feugait eam an, libris corrumpit signiferumque has ex. Eirmod patrioque efficiantur ex est, per nisl erroribus ex! Quot labore nec id, lorem scripta suavitate ad nam! At mel lorem corpora erroribus, eos movet congue consequuntur eu. Dicta harum docendi ei est. Lorem commodo te his.</p>
            <p>Sea perfecto gloriatur te, pro eu scripserit repudiandae? Et dicit doctus delectus vix, his no vocent verear utamur, eu ubique tibique mediocrem sed. Audire vocibus periculis id nec, utamur albucius cu nec, dicant nostro audiam sed id. Eu labores nostrum sed. Assum minim euripidis ad qui, forensibus definitionem nec ex. No nam affert semper? Ludus tamquam cu mea, eu ridens molestiae sed?</p>
            <p>Offendit definiebas intellegam quo cu, ut cum noster maiestatis. An esse omnes virtute eos, nec docendi delicata id. Sit quando sapientem constituto ad, usu petentium persequeris eu, no libris persius duo. Mutat utinam ne vix.</p>
            <p>Has dicunt temporibus ne, in prima partem postulant his. Atqui novum definiebas nam ne. Ne per quaeque pertinax vulputate, mazim molestie usu at, ut his tantas laudem eirmod? Et laoreet epicurei mel. Vel elitr tantas accusata id.</p>
          </div>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="prokat">
            Сейчас в прокате
          </div>
          <div class="film">
              <a href="film.html"><img src="img/mst.jpg" alt=""></a>
            <div class="text">
                <a href="film.html">Мстители</a>
            </div>
            <div class="reit">
              Фэнтези, фантастика, боевик, 16+ RU
            </div>
          </div>
          <div class="film">
              <a href="film.html"><img src="img/hell.jpg" alt=""></a>
            <div class="text">
                <a href="film.html">Хеллбой</a>
            </div>
            <div class="reit">
              Фэнтези, фантастика, боевик, 18+ RU
            </div>
          </div>
          <div class="film">
              <a href="film.html"><img src="img/posl.jpg" alt=""></a>
            <div class="text">
                <a href="film.html">Последствия</a>
            </div>
              <div class="reit">
                Фэнтези, фантастика, боевик, 12+ RU
              </div>
            </div>

          <div class="film">
              <a href="film.html"><img src="img/sin.jpg" alt=""></a>
            <div class="text">
              <a href="film.html">Синонимы</a>
            </div>
            <div class="reit">
              Фэнтези, фантастика, боевик, 16+ RU
            </div>
          </div>
        </div>
    </div>
        </div>
</section>
<section class="catalog marg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cent">
        <div class="title">
          Контакты
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">
        <div class="cont_row">
        <img src="img/tel.png" alt="">
        <div class="cont-text">
          Тел. администрации: +375 (99) 999 99 99
        </div>
    </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">
        <div class="cont_row">
        <img src="img/map.png" alt="">
        <div class="cont-text">
          г. Минск, ул. Алибабаева, д. 17
        </div>
    </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">
<div class="cont_row">
    <img src="img/tel.png" alt="">
    <div class="cont-text">
      Тел. кассы: +375 (99) 999 99 99
    </div>
</div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">

        <div class="cont_row">
          <img src="img/mail.png" alt="">
        <div class="cont-text">
          mail@mail.ru
        </div>
    </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      </div>
    </div>
  </div>
</section>
<section class="catalog">
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9c807361b88599cbd1297a7e66c1b3497fff457a938e96de7f8dac2e5d5692b2&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
</section>
<footer>
    <div class="container header_flex">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
          <div class="logo">
            <a href="start.html"><img src="img/logo.png"></a>
          </div>
        </div>
        <div class="col-lg-2 col-md-5 col-sm-12 col-xs-12 menu_footer ">
          <a class="menu_item" href="prokat.html">Сейчас в прокате</a>
          <a class="menu_item" href="premier.html">Премьеры</a>
          <a class="menu_item" href="akcii.html">Акции</a>

            </div>
            <div class="col-lg-2 col-md-5 col-sm-12 col-xs-12 menu_footer ">
              <a class="menu_item" href="about.html">О кинотеатре</a>
              <a class="menu_item" href="otzivy.html">Отзывы</a>
              <a class="menu_item" href="kontakty.html">Контакты</a>
            </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 copy">
                <div >
                  2019 © Все права защищены
                </div>
              </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <div class="phone_numbers">
            <a href="tel:+375 (99) 999 99 99">Тел. кассы:<br>+375 (99) 999 99 99</a>
            <a href="tel:+375 (99) 999 99 99">Тел. администрации:<br>+375 (99) 999 99 99</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
	<script type="text/javascript" src="js/jquery-3.2.1.js"></script>
   <script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>


  </body>
</html>
