<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Film</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/main.css}" rel="stylesheet" media="screen">
    <link th:href="@{/fonts/stylesheet.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/slick.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/slick-theme.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/cinema-style.css}" rel="stylesheet" type="text/css"/>

    <script src="https://smtpjs.com/v3/smtp.js"></script>
</head>
<body>

<header>
    <div class="container header_flex">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
            <div class="logo">
                <a th:href="@{/cinema}"><img th:src="@{/img/logo.png}"></a>
            </div>
        </div>
        <div class="user-info-container">
            <div th:if="${clientSession.authenticated}" class="user-info">
                <div th:text=" 'Аккаунт:  ' + ${clientSession.user.name}"></div>
                <div><a th:href="@{/logout}">Выйти</a></div>
                <div><a th:href="@{/cinema/cart}">Корзина</a></div>
            </div>

            <div th:if="${!clientSession.authenticated}" class="user-info">
                <div th:text=" 'Вы не авторизованы'"></div>
                <div><a th:href="@{/login}">Войти</a></div>
            </div>
        </div>
    </div>
    <div class="container header_flex">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 search-form ">
                        <form th:action="@{/cinema/film/search}" method="GET" enctype="utf8"
                              style=" display: flex; width: 100%;">
                            <input style="width: 250%;" name="search" type="search"
                                   placeholder="Введите запрос для поиска">
                            <input style="width: 30%;" type="image" th:src="@{/img/search.png}" class="icon-header">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 menu ">
                        <a class="menu_item" th:href="@{/cinema/current_films}">Сейчас в прокате</a>
                        <a class="menu_item" th:href="@{/cinema/coming_soon}">Премьеры</a>
                        <a class="menu_item" th:href="@{/cinema/sale}">Акции</a>
                        <a class="menu_item" th:href="@{/cinema/about}">О кинотеатре</a>
                        <a class="menu_item" th:href="@{/cinema/feedback}">Отзывы</a>
                        <a class="menu_item" th:href="@{/cinema/contact_us}">Контакты</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="phone_numbers">
                    <a href="tel:+375 (99) 999 99 99">Тел. кассы:<br>+375 (99) 999 99 99</a>
                    <a href="tel:+375 (99) 999 99 99">Тел. администрации:<br>+375 (99) 999 99 99</a>
                </div>
            </div>
        </div>
    </div>
</header>


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cent">
                <div th:text="${film.title}" class="title"></div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cent">
            </div>
        </div>
        <div class="row marg2">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 opis">
                <div th:each="genre : ${film.genres}">
                    <p th:text="${genre.name}"></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 opis">
                <p th:text="${film.country}"></p>
                <p th:text="${film.releaseYear}"></p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 opis">
                <p th:text="${film.runningTimeInMinutes} + ' минуты'"></p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 opis">
                <p>до 15 мая</p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 marg2">
                <p>В ролях:</p>
                <span th:each="actor : ${film.actors}">
                    <p th:text="${actor.firstName} + ' ' + ${actor.lastName}"/>
                </span>
            </div>
        </div>
        <div class="row marg2">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg2 akc-title">
                Трейлер
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg2">
                <iframe width="560" height="315" th:src="${film.teaserUrl}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>

                </iframe>
            </div>
        </div>
    </div>
</section>
<section class=" now">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cent">
                <div class="title">
                    Расписание сеансов
                </div>
            </div>
        </div>

        <div th:each="ticketsByDateList : ${film.ticketsByDate}" style="margin-top: 1%;">
            <div th:onclick="'javascript:showTickets(\'' + ${ticketsByDateList.elementId} + '\')'">
                <button th:text="${ticketsByDateList.formattedTime}" style="color: black"></button>
            </div>
            <div th:id="${ticketsByDateList.elementId}" style="display: none; margin-top: 1%;">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <table class="table" style="color: black;background: white;">
                                <thead>
                                <tr>
                                    <th style="width: 15%; text-align: center;" scope="col">Место</th>
                                    <th style="width: 35%; text-align: center;" scope="col">Начало сеанса</th>
                                    <th style="width: 25%; text-align: center;" scope="col">Цена $</th>
                                    <th style="width: 25%; text-align: center;" scope="col">Купить</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ticket : ${ticketsByDateList.availableTickets}">
                                    <td style="width: 15%; text-align: center;" th:text="${ticket.placeNumber}"/>
                                    <td style="width: 35%; text-align: center;" th:text="${ticket.formattedFilmStartTime}"/>
                                    <td style="width: 25%; text-align: center;" th:text="${ticket.priceInUSD}"/>
                                    <td style="width: 25%; text-align: center;">

                                        <form th:action="@{'/cinema/film/' + ${film.id} + '/ticket/' + ${ticket.id} + '/buy'}"
                                              method="post">
                                            <span><input type="submit" style="color: black;" value="Buy"/></span>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="catalog marg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cent">
                <div class="title">
                    Контакты
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">
                <div class="cont_row">
                    <img src="img/tel.png" alt="">
                    <div class="cont-text">
                        Тел. администрации: +375 (99) 999 99 99
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">
                <div class="cont_row">
                    <img src="img/map.png" alt="">
                    <div class="cont-text">
                        г. Минск, ул. Алибабаева, д. 17
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">
                <div class="cont_row">
                    <img src="img/tel.png" alt="">
                    <div class="cont-text">
                        Тел. кассы: +375 (99) 999 99 99
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">

                <div class="cont_row">
                    <img src="img/mail.png" alt="">
                    <div class="cont-text">
                        mail@mail.ru
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            </div>
        </div>
    </div>
</section>
<section class="catalog">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9c807361b88599cbd1297a7e66c1b3497fff457a938e96de7f8dac2e5d5692b2&amp;source=constructor"
            width="100%" height="400" frameborder="0"></iframe>
</section>

<div th:replace="footer"/>
<script>
    function showTickets(id) {
        const x = document.getElementById(id);
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
</script>

</body>
</html>
