<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Film</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/main.css}" rel="stylesheet" media="screen">
    <link th:href="@{/fonts/stylesheet.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/slick.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/slick-theme.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/cinema-style.css}" rel="stylesheet" type="text/css"/>

    <script src="https://smtpjs.com/v3/smtp.js"></script>
</head>
<body>

<header>
    <div class="container header_flex">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
            <div class="logo">
                <a th:href="@{/cinema}"><img th:src="@{/img/logo.png}"></a>
            </div>
        </div>
        <div class="user-info-container">
            <div th:if="${clientSession.authenticated}" class="user-info">
                <div th:text=" 'Authenticated as ' + ${clientSession.user.name}"></div>
                <div><a th:href="@{/logout}">Logout</a></div>
                <div><a th:href="@{/cinema/cart}">Cart</a></div>
            </div>

            <div th:if="${!clientSession.authenticated}" class="user-info">
                <div th:text=" 'Not Authenticated '"></div>
                <div><a th:href="@{/login}">Sign in</a></div>
            </div>
        </div>
    </div>
    <div class="container header_flex">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 search-form ">
                        <input type="search" placeholder="Введите запрос для поиска">
                        <a th:href="@{/cinema/film}"><img th:src="@{/img/search.png}" class="icon-header"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 menu ">
                        <a class="menu_item" href="prokat.html">Сейчас в прокате</a>
                        <a class="menu_item" href="premier.html">Премьеры</a>
                        <a class="menu_item" href="akcii.html">Акции</a>
                        <a class="menu_item" href="about.html">О кинотеатре</a>
                        <a class="menu_item" href="otzivy.html">Отзывы</a>
                        <a class="menu_item" href="kontakty.html">Контакты</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="phone_numbers">
                    <a href="tel:+375 (99) 999 99 99">Тел. кассы:<br>+375 (99) 999 99 99</a>
                    <a href="tel:+375 (99) 999 99 99">Тел. администрации:<br>+375 (99) 999 99 99</a>
                </div>
            </div>
        </div>
    </div>
</header>


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cent">
                <div th:text="${film.title}" class="title" >
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cent">
            </div>
        </div>
        <div class="row marg2">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text">
                <img src="img/mst.jpg" alt="">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 opis">
                <p>Боевик</p>
                <p>Приключения</p>
                <p>Фантастика</p>
                <p>Фэнтези</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 opis">
                <p>США</p>
                <p>2019</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 opis">
                <p>182 минуты</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 opis">
                <p>до 15 мая</p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 marg2">
                <p>Режиссер: Энтони Руссо, Джо Руссо</p>
                <p>В ролях: Бри Ларсон, Том Холланд, Брэдли Купер, Карен Гиллан, Скарлетт Йоханссон, Крис Хемсворт,
                    Роберт Дауни мл., Дэйв Батиста, Джош Бролин</p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 marg2">
                <p>Оставшиеся в живых члены команды Мстителей и их союзники должны разработать новый план, который
                    поможет противостоять разрушительным действиям могущественного титана Таноса. После наиболее
                    масштабной и трагической битвы в истории они не могут допустить ошибку.</p>
            </div>
        </div>
        <div class="row marg2">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg2 akc-title">
                Трейлер
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg2">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gbcVZgO4n4E" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<section class=" now">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cent">
                <div class="title">
                    Расписание сеансов
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tabs">
                    <h2>Available tickets:</h2>
                    <table class="table" style="color: black;background: white;">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Place Number</th>
                            <th scope="col">Film Start Time</th>
                            <th scope="col">Price $</th>
                            <th scope="col">Buy button</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ticket : ${film.availableTickets}">
                            <td th:text="${ticket.id}"/>
                            <td th:text="${ticket.placeNumber}"/>
                            <td th:text="${ticket.filmStartTime}"/>
                            <td th:text="${ticket.priceInUSD}"/>
                            <td>

                                <form th:action="@{'/cinema/film/' + ${film.id} + '/ticket/' + ${ticket.id} + '/buy'}" method="post">
                                    <span><input type="submit" style="color: black;" value="Buy"/></span>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="catalog marg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cent">
                <div class="title">
                    Контакты
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">
                <div class="cont_row">
                    <img src="img/tel.png" alt="">
                    <div class="cont-text">
                        Тел. администрации: +375 (99) 999 99 99
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">
                <div class="cont_row">
                    <img src="img/map.png" alt="">
                    <div class="cont-text">
                        г. Минск, ул. Алибабаева, д. 17
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">
                <div class="cont_row">
                    <img src="img/tel.png" alt="">
                    <div class="cont-text">
                        Тел. кассы: +375 (99) 999 99 99
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">

                <div class="cont_row">
                    <img src="img/mail.png" alt="">
                    <div class="cont-text">
                        mail@mail.ru
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            </div>
        </div>
    </div>
</section>
<section class="catalog">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9c807361b88599cbd1297a7e66c1b3497fff457a938e96de7f8dac2e5d5692b2&amp;source=constructor"
            width="100%" height="400" frameborder="0"></iframe>
</section>
<footer>
    <div class="container header_flex">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <div class="logo">
                    <a href="start.html"><img src="img/logo.png"></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-5 col-sm-12 col-xs-12 menu_footer ">
                <a class="menu_item" href="prokat.html">Сейчас в прокате</a>
                <a class="menu_item" href="premier.html">Премьеры</a>
                <a class="menu_item" href="akcii.html">Акции</a>

            </div>
            <div class="col-lg-2 col-md-5 col-sm-12 col-xs-12 menu_footer ">
                <a class="menu_item" href="about.html">О кинотеатре</a>
                <a class="menu_item" href="otzivy.html">Отзывы</a>
                <a class="menu_item" href="kontakty.html">Контакты</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 copy">
                <div>
                    2019 © Все права защищены
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="phone_numbers">
                    <a href="tel:+375 (99) 999 99 99">Тел. кассы:<br>+375 (99) 999 99 99</a>
                    <a href="tel:+375 (99) 999 99 99">Тел. администрации:<br>+375 (99) 999 99 99</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="js/jquery-3.2.1.js"></script>

</body>
</html>
