<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>Контакты</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">
	<link href="fonts/stylesheet.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" type="text/css" href="css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../js/html5shiv.js"></script>
      <script src="../../js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <header>
    		<div class="container header_flex">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
        			<div class="logo">
        				<a href="start.html"><img src="img/logo.png"></a>

        			</div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">

              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 search-form ">
                  <input type="search" placeholder="Введите запрос для поиска">
				          <a href=""><img src="img/search.png" class="icon-header"></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  butt">
                  <a href="">
                    <div class="button">Купить билет
                  	</div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 menu ">
          				<a class="menu_item" href="prokat.html">Сейчас в прокате</a>
          				<a class="menu_item" href="premier.html">Премьеры</a>
          				<a class="menu_item" href="akcii.html">Акции</a>
          				<a class="menu_item" href="about.html">О кинотеатре</a>
          				<a class="menu_item" href="otzivy.html">Отзывы</a>
          				<a class="menu_item" href="kontakty.html">Контакты</a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        			<div class="phone_numbers">
        				<a href="tel:+375 (99) 999 99 99">Тел. кассы:<br>+375 (99) 999 99 99</a>
        				<a href="tel:+375 (99) 999 99 99">Тел. администрации:<br>+375 (99) 999 99 99</a>
        			</div>
            </div>
    		  </div>
        </div>
    	</header>
<section>
  <div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 cent">
          <div class="title">
            Контакты
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cent">
        </div>
    </div>
    <div class="row marg2">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
          <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">
      <div class="cont_row">
          <img src="img/tel.png" alt="">
          <div class="cont-text">
            Тел. кассы: +375 (99) 999 99 99
          </div>
      </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">

              <div class="cont_row">
                <img src="img/mail.png" alt="">
              <div class="cont-text">
                mail@mail.ru
              </div>
          </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">
              <div class="cont_row">
              <img src="img/tel.png" alt="">
              <div class="cont-text">
                Тел. администрации: +375 (99) 999 99 99
              </div>
          </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cont">
              <div class="cont_row">
              <img src="img/map.png" alt="">
              <div class="cont-text">
                г. Минск, ул. Алибабаева, д. 17
              </div>
          </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg2">
              <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9c807361b88599cbd1297a7e66c1b3497fff457a938e96de7f8dac2e5d5692b2&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
            </div>
          </div>
          </div>



        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="prokat">
            Сейчас в прокате
          </div>
          <div class="film">
              <a href="film.html"><img src="img/mst.jpg" alt=""></a>
            <div class="text">
                <a href="film.html">Мстители</a>
            </div>
            <div class="reit">
              Фэнтези, фантастика, боевик, 16+ RU
            </div>
          </div>
          <div class="film">
              <a href="film.html"><img src="img/hell.jpg" alt=""></a>
            <div class="text">
                <a href="film.html">Хеллбой</a>
            </div>
            <div class="reit">
              Фэнтези, фантастика, боевик, 18+ RU
            </div>
          </div>

          </div>
    </div>
        </div>
</section>

<footer>
    <div class="container header_flex">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
          <div class="logo">
            <a href="start.html"><img src="img/logo.png"></a>
          </div>
        </div>
        <div class="col-lg-2 col-md-5 col-sm-12 col-xs-12 menu_footer ">
          <a class="menu_item" href="prokat.html">Сейчас в прокате</a>
          <a class="menu_item" href="premier.html">Премьеры</a>
          <a class="menu_item" href="akcii.html">Акции</a>

            </div>
            <div class="col-lg-2 col-md-5 col-sm-12 col-xs-12 menu_footer ">
              <a class="menu_item" href="about.html">О кинотеатре</a>
              <a class="menu_item" href="otzivy.html">Отзывы</a>
              <a class="menu_item" href="kontakty.html">Контакты</a>
            </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 copy">
                <div >
                  2019 © Все права защищены
                </div>
              </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <div class="phone_numbers">
            <a href="tel:+375 (99) 999 99 99">Тел. кассы:<br>+375 (99) 999 99 99</a>
            <a href="tel:+375 (99) 999 99 99">Тел. администрации:<br>+375 (99) 999 99 99</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
	<script type="text/javascript" src="js/jquery-3.2.1.js"></script>
   <script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>


  </body>
</html>
