<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/main.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/slick.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/slick-theme.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/cinema-style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<header>
    <div class="container header_flex">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <div class="logo">
                    <a th:href="@{/cinema}"><img th:src="@{/img/logo.png}"></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="phone_numbers">
                    <a href="tel:+375 (99) 999 99 99">Тел. кассы:<br>+375 (99) 999 99 99</a>
                    <a href="tel:+375 (99) 999 99 99">Тел. администрации:<br>+375 (99) 999 99 99</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row" style="background: #131617; padding-bottom: 2%;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cent">
        <div class="title">
            Форма регистрации
        </div>
    </div>
</div>

<div style="background: #131617;">
    <div class="container">
        <form th:action="@{/registration}" th:object="${user}" method="POST" enctype="utf8">
            <div style="padding-left: 40%; padding-right: 40%; width: 100%">
                <label style="width: 100%"> Имя пользователя : <input style=" color: black;"
                                                                      th:field="*{name}"/></label>
            </div>
            <div style="padding-left: 40%; padding-right: 40%; width: 100%">
                <label style="width: 100%"> Пароль: <input style=" color: black;" type="password"
                                                           th:field="*{password}"/>
                </label></div>
            <div style="padding-left: 40%; padding-right: 40%; width: 100%">
                <span><input type="submit" style="color: black;" value="Зарегистрироваться"/></span>
            </div>
            <div style="padding-left: 40%; padding-right: 40%; padding-top: 3%; width: 100%">
                <a th:href="@{/login}">У меня уже есть аккаунт.</a>
            </div>
        </form>
    </div>
</div>

<section class="catalog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cent">
                <div class="title">
                    Скоро в нашем кинотеатре
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-xs-12">
                <div class="catalog_item">
                    <a href="film.html"><img src="img/cat1.jpg" alt=""></a>
                    <div class="name"><p>В метре друг от друга</p>
                        <p class="zhanr">Фэнтези, фантастика, боевик, 16+ RU</p>
                        <div class="hover_bl">
                            <a href="film.html">
                                <div class="button">ПОДРОБНЕЕ
                                </div>
                            </a>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-12">
                <div class="catalog_item">
                    <a href="film.html"><img src="img/cat2.jpg" alt=""></a>
                    <div class="name"><p>Убрать из друзей: Даркнет</p>
                        <p class="zhanr">Фэнтези, фантастика, боевик, 16+ RU</p>
                        <div class="hover_bl">
                            <a href="film.html">
                                <div class="button">ПОДРОБНЕЕ
                                </div>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="catalog_item">
                    <a href="film.html"><img src="img/cat3.jpg" alt=""></a>
                    <div class="name">
                        <p>Отпетые мошенницы</p>
                        <p class="zhanr">Фэнтези, фантастика, боевик, 16+ RU</p>
                        <div class="hover_bl">
                            <a href="film.html">
                                <div class="button">ПОДРОБНЕЕ
                                </div>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="catalog_item">
                    <a href="film.html"><img src="img/cat4.jpg" alt=""></a>
                    <div class="name">
                        <p>Война Анны</p>
                        <p class="zhanr">Фэнтези, фантастика, боевик, 16+ RU</p>
                        <div class="hover_bl">
                            <a href="film.html">
                                <div class="button">ПОДРОБНЕЕ
                                </div>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="catalog_item">
                    <a href="film.html"><img src="img/cat5.jpg" alt=""></a>
                    <div class="name">
                        <p>Покемон. Детектив Пикачу</p>
                        <p class="zhanr">Фэнтези, фантастика, боевик, 16+ RU/p>
                            <div class="hover_bl">
                                <a href="film.html">
                                    <div class="button">ПОДРОБНЕЕ
                                    </div>
                                </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 now-butt">
            <div class="button"><a href="coming_soon.html">Расписание премьер</a>
            </div>
        </div>
    </div>
    </div>
</section>

<div th:replace="footer"/>

</body>
</html>
